body {
  font-family: sans-serif;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 80px;
  height: 80px;
  background: #cdc1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
}
